.attraction-icon {
    height: 10% !important;
    width: 10% !important;
    transform: scale(0.8);
    transform-origin: center;
    margin-top: -2%;
}

.rating {
    margin-top: -2%;
   
}



.attraction-image {
    width: 100% !important;
    height: 40% !important;
    object-fit: cover !important;
}

.card-container {
    margin: 1vh 0;
}

.card-title {
    font-weight: 100 !important;
}
.distance-font {
    font-size: 3.5vw !important;
    margin-top: -2.5%;
}

.rating-distance-box {
    margin-top: 0.5vh;
    margin-bottom: 1.2vh;
}

.MuiPaper-root {
    height: fit-content;
    padding-bottom: 1vh;
    
    
}

.directions-button {
    background-color: #7AC7C4 !important;
     height: 3.5vh !important;
     margin-top: 0.5vh;
}

.btn-container {
    display: flex;
    justify-content: center;
 
}

a {
    text-decoration: underline;
    color: lightblue;
    cursor: pointer;
}