.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coverContainer {
  position: relative;
  width: 100%;
  height: auto; /* Adjust height automatically for different screen sizes */
  overflow: hidden;
}

.coverImage {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover; /* Ensures the image covers the area without stretching */
}

.reservationCard {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 90%; /* Ensures the card doesn't exceed the screen width */
}

.reservationCardTitle {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 2px;
}

.alert {
  margin-top: 20px;
  width: 100%;
}

.alertText {
  text-align: center;
}

/* Media Queries for Larger Screens */
@media (min-width: 768px) {
  .reservationCard {
    bottom: 4%;
    right: 2%;
    left: auto;
    transform: none;
  }

  .reservationCardTitle {
    font-size: 1.5em; /* Slightly larger font for larger screens */
  }
}
