.cover-container {
  position: relative !important;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100% !important;
  height: 30vh !important;
  overflow: hidden;
}

.main {
  height: 83% !important;
}

#coverImage {
  width: 100%;           /* Use the full width of the container */
  height: 100%;          /* Use the full height of the container */
  object-fit: cover;     /* Resize the image to cover the container while preserving its aspect ratio */
  object-position: center;
}


.reservation-card {
  position: absolute;
  bottom: 4%;
  right: 2%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1vw;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 25vw;
}


.reservation-card p {
  margin: 0.5vw 0;
}

.alert {
  display: flex !important;
  align-items: center !important;
  padding: 1vw 1vw !important;
  line-height: 0.3 !important;
 
  white-space: nowrap !important; /* Prevents text wrapping onto the next line */
  overflow: hidden !important;   /* Hides overflow content */
  text-overflow: ellipsis !important; /* Adds "..." for overflowed content */
  width: 100% !important;         /* Set to desired width, can be adjusted */
  margin-bottom: 1vw !important;
}


.icon {

}



/* Media Queries */
@media (max-width: 768px) { 
  /* Adjust styles for tablets and mobile devices */

  .reservation-card {
      padding: 3vw;
      max-width: 50vw;
  }

}

/* If you find text getting too small or too large on some devices, 
 you can add more media queries for specific breakpoints */
