.bar {
  background-color: white !important;
  color: black !important;
  border-bottom: 1px solid #7AC7C4 !important;
  height: 64px; /* Adjust if necessary */
}

.logo {
  width: 100%; /* Adjust for smaller screens */
  max-width: 150px; /* Limit the maximum width */
  cursor: pointer; /* Indicates clickable */
}

/* Add a style for the main content padding */
.content-container {
  padding-top: 70px; /* Slightly more than the AppBar height */
}

.back-button {
  background-color: #7AC7C4 !important;
  height: 30px;
}

.toolbar {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important; /* Align items vertically */
}

.icon {
  height: 20px !important; /* Adjust icon size */
}
