.bar {
  background-color: white !important;
  color: black !important;
  border-bottom: 1px solid #7AC7C4 !important;
  height: 7vh !important;
  display: flex;
  align-items: left;
  
}

.logo {
  max-height: 90% !important; /* Max height relative to parent */
  width: auto; /* Let width be automatic */
  max-width: 26vw; 
  object-fit: contain; /* Preserve aspect ratio */
}
  /* Add a style for the main content padding */


  .back-button {
     background-color: #7AC7C4 !important;
     height: 3vh !important;
  }

  .toolbar {
    display: flex !important;
    justify-content: space-between !important;
  }

  .icon-header {
    height: 3vh !important;
  }
  