.grid {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    padding: 2.5vw;
}

.grid > * {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}


.tile-title {
    margin-bottom: 0.5rem;
}

.tile-icon {
    color: #7AC7C4;
    margin-bottom: 0.5rem; /* Space between icon and title */

}


.tile {
    flex-grow: 1;
    padding: 1rem;
    text-align: center;
    transition: transform 0.3s;
    height: 100% !important;
}

.tile-container {
    flex-grow: 1;
    text-align: center;
    transition: transform 0.3s;
    align-items: stretch;
    height: 100% !important;
}


.center-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {

}
