.App {
  text-align: center;
}

.main-content {
  padding-top: 70px; /* slightly more than the AppBar height to provide some spacing */
  padding-bottom: 70px; /* slightly more than the AppBar height to provide some spacing */
}

/* Removed unused styles related to .App-logo, .App-header, .App-link */

#coverImage {
  width: 100%;
  height: auto;
}

.alert {
 display: flex;
 align-items: center; /* Aligns items on the cross axis */
 justify-content: center; 
}

.alert-text {
  font-size: 1.2rem !important;
  line-height: 0px !important; /* should be equal to the container's height */
  text-align: center !important; 
}

.center-div {
  display: flex;
  align-items: center; /* Aligns items on the cross axis */
  justify-content: center; /* Aligns items on the main axis */
  height: 100vh; /* You might want to adjust the height */
}
