.App {
  text-align: center;
}
html, body {
  height: 100%;
  overflow: auto;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

#coverImage {
  width: 100%;
  height: auto;


}

.main-content {
  position: fixed;
  top: 7% !important;
  height: 93%;
  overflow-y: scroll;

}


.description-font {
  font-size: 4vw !important;
}

.detail-font {
  font-size: 3vw !important;

}

.title-font {
  font-size: 4.5vw !important;
  font-weight: bold;
  margin-bottom: 0.5vw;
}

.icon-font {
  font-size: 7vw !important;
}

.center-div {
  display: flex;
  align-items: center;
  /* Aligns items on the cross axis */
  justify-content: center;
  /* Aligns items on the main axis */
  height: 100vh;
  /* You might want to adjust the height */
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}